<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="css/main.css">
    <!--    <script src="js/vendor/modernizr-2.8.3.min.js"></script>-->
  </head>

  <body>
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
	
    <div class="header">
        <div class="logo">
            <h1>Logo</h2>
        </div>
    </div>

	<div class="container">
		<div class="wrap">

			 <div class="column_1_of_2">
			 	<h2>Big title (why you came here)</h2>
			 	<h3>Content</h3>
			 </div>	

			<div class="column_2_of_2">
				 <form action="" method="">
				 	<h2>Why you should sign up.</h2>
				    <p>
					    <label for="firstname">First name: </label>
					        <input type="text" id="firstname"><br>
					    <label for="lastname">Last name: </label>
					        <input type="text" id="lastname"><br>
					    <label for="email">Email: </label>
					        <input type="text" id="email"><br>
					    <label type="submit" value="Send"><input type="submit">
				    </p>
				 </form>
			</div>
		 
		</div>

		<div class="wrap">
			<div class="proof-points">
				<h2>Proof Points</h2>
				<div class="column-1-of-3">
					<h3>Proof point 1</h3>
				</div>
				<div class="column-2-of-3">
					<h3>Proof point 2</h3>
				</div>
				<div class="column-3-of-3">
					<h3>Proof point 3</h3>
				</div>
			</div>
		</div>
	</div>

	<div class="footer">
	</div>

    <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/{JQUERY_VERSION}}/jquery.min.js"></script>-->
    <!--<script>window.jQuery || document.write('<script src="js/vendor/jquery-{JQUERY_VERSION}}.min.js"><\/script>')</script>-->
    <script src="js/main.js"></script>

    </body>

</html>
